@import "../../styles/mixins.scss";

.login-signup {
  max-width: 450px;
  width: 100%;
  margin: 0em auto 1em;
  padding: 0px 30px;
  border-radius: 6px;
  text-align: center;

  &__languageToggle {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  &__heading {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 400;
    @include ipad {
      font-size: 23px;
    }
   
  }
  &__google {
    cursor: pointer;
    &__login-btn {
      padding: 1em;
      width: 100%;
      height: 50px;
      border: 1px solid var(--gray-203);
      font-size: 16px;
      font-weight: 400;
      color: #46404082;
      border-radius: 6px;
      @include flex(center, center);
      gap: 10px;
      svg {
        font-size: 32px;
      }
      &:hover {
        border: 1px solid var(--green);
        color: var(--green);
      }
    }
  }
  &__text {
    margin-bottom: 1em;
  }
  &__hr-line {
    margin-top: 10px;
    @include flex(center, center);
    gap: 10px;
    &__or {
      font-weight: 400;
      font-size: 14px;
      color: #46404082;
    }
    hr {
      width: 100%;
      border-bottom: 1px solid white;
      border-top: 1px solid #b4b1b182;
    }
  }

  &__form {
    &-namefield {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    .field {
      position: relative;
    }
    .field input {
      width: 100%;
      height: 50px;
      outline: none;
      padding: 0 15px;
      border: 1px solid var(--gray-203);
      font-size: 16px;
      font-weight: 400;
      border-radius: 6px;
      margin-top: 20px !important;
      &:focus {
        border-bottom-width: 2px;
      }
    }
    .button-field {
      margin: 30px 0px 10px 0px !important;
      button {
        @include button(100%, var(--green), var(--white));
        height: 50px;
      }
    }
    .password-check,
    .error-input {
      border: 1px solid var(--error) !important;
    }
    .error {
      color: var(--error);
      font-size: 13px;
      align-items: center;
      display: flex;
      gap: 5px;
    }
    .eye-icon {
      position: absolute;
      top: 50px;
      right: 10px;
      transform: translateY(-50%);
      font-size: 20px;
      color: var(--gray-72);
      cursor: pointer;
      padding: 5px;
    }
  }
  &__bottom {
    &-forgotpassword-link {
      width: 90%;
      display: block;
      margin-left: auto;
      text-align: right;
      margin-bottom: 10px;
      color: var(--green);
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-content {
      font-size: 14px;
      font-weight: 400;
      &__link {
        color: var(--green) !important;
        text-align: center;
        margin-top: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.verificationLink {
  text-align: center;
  &__img {
    width: 300px;
    margin: auto;
    @include ipad {
      width: 400px;
    }
  }
  &__content {
    text-align: center;
    &__title {
      font-weight: 400;
      font-size: 18px;
      @include ipad {
        font-size: 26px;
      }
    }
    &__desc {
      font-size: 14px;
      margin: 10px 0;
      @include ipad {
        font-size: 17px;
      }
      &-link {
        font-weight: 400;
        color: var(--green);
      }
    }
    &__checkmail {
      margin-top: 2em;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
html[dir="rtl"] {
  .login-signup {
    &__heading {
      font-size: 15px;
      @include ipad {
        font-size: 20px;
      }
    }
  }
  .eye-icon {
    right: unset;
    left: 10px;
  }
  .login-signup__languageToggle {
    left: 120px;
    right: unset;
  }
}

.button-field {
  button {
    @include button(100%, var(--green), var(--white));
  }
}
