@import "../../styles/mixins.scss";

.form-content {
  max-width: 450px;
  width: 80%;
  margin: auto;
  padding: 0px 30px;
  border-radius: 6px;
  text-align: center;

  h1 {
    margin: 1em 0em;
    font-size: 28px;
  }

  .or {
    font-weight: bold;
    font-size: 20px;
  }


  .loginDiv {
    width: 60%;
    margin: 1em auto;
  }

  a:hover {
    text-decoration: underline;
  }

  .name-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin: 26px 0em;
  }

  .form-bottom {
    margin-top: 10px;

    a {
      font-size: 14px;
      color: var(--green);
      font-weight: 500;
    }

    .forgotpassword-link {
      width: 90%;
      display: block;
      margin-left: auto;
      text-align: right;
    }

    .form-link {
      text-align: center;
      margin-top: 15px;
    }
  }
}

// Input field
form {
  .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 25px;
    border-radius: 6px;
  }

  .field input,
  .field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  }

  .field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid var(--gray-203);

    &:focus {
      border-bottom-width: 2px;
    }
  }

  .button-field {
    margin-top: 30px !important;

    button {
      color: var(--white);
      font-weight: 700;
      background-color: var(--green);
      transition: all 0.3s ease;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        opacity: 50%;
      }
    }
  }

  .password-check,
  .error-input {
    border: 1px solid var(--error) !important;
  }

  .error {
    color: var(--error);
    font-size: 13px;
    align-items: center;
    display: flex;
    gap: 5px;
  }

  .eye-icon {
    position: absolute;
    top: 58%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--gray-72);
    cursor: pointer;
    padding: 5px;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: hsl(122, 39%, 58%) !important;
}

@media screen and (max-width: 400px) {
  .form-content {
    width: 90%;
    padding: 15px;
  }
}
