.testimonial{
    max-width: 31.9375rem;
    border: 2px solid #03C4EB;
    position: relative;
    display: flex;
    border-radius: 0.9375rem;
    padding:1em;
    align-items: center;

}

.testimonial .img{
width:50px;
height:50px
}
.desc--container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1.3125rem;
    max-width: 25.4375rem;
    padding-right: 10px;

}
.desc--container h3{
    align-self: flex-end;
    font-size: 1.375rem;
    font-weight: 600;
}
.desc--container p{
    font-size: 1.25rem;
    font-weight: 400;
}