@import "../../../styles/mixins.scss";
.dashboard {
  height: 100vh;
  &__spinner {
    @include flex(center, center);
    height: 100vh;
  }

  &__error {
    @include flex(center, center);
    height: 100vh;
  }
}
