.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 95vh
}

.dashboard-container button {
    width: 200px;
    padding: 1em
}