@import "../../styles/mixins.scss";
.dashboard-header {
  background-color: rgb(236, 245, 244);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  &__container {
    padding: 0.5em;
    width: 100%;
    // max-width: 1400px;
    margin: auto;
    @include flex(space-between, center);
    gap: 10px;
    @include ipad {
      width: 100%;
      padding: 0.5em 2.5em;
    }
  }
  &__logo {
    height: 80px;
    display: none;
    @include ipad {
      display: block;
      width: 100%;
      @include flex(space-between, center);
    }
  }
  &-inputfield {
    width: 100%;
    &__input {
      cursor: auto;
      height: 50px;
      width: 100%;
      border: none;
      font-size: 16px;
      font-weight: 400;
      border-radius: 10px;
      padding: 0 15px;
      border: 1px solid var(--gray-203);
      &:focus {
        border: 1px solid var(--green);
      }
    }
    @include meduim-screen {
      width: 70%;
    }
    @include ipad {
      width: 500px;
    }
  }
  &-profile {
    position: relative;
    cursor: pointer;
    @include flex(space-between, center);
    gap: 20px;
    &__btn {
      @include flex(space-between, center);
      &-text {
        font-size: 16px;
        color: var(--green);
        border-radius: 100%;
        font-weight: 500;
        @include ipad {
          font-size: 20px;
          font-weight: 600;
        }
      }
      svg {
        color: var(--green);
        font-size: 25px;
      }
    }
    &__logout-btn {
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      top: 32px;
      right: 0;
      background-color: var(--white);
      padding: 1em;
      color: var(--green);
      font-weight: 600;
      width: 100px;
      border: none;
      @include ipad {
        right: -23px;
      }
    }
    .rtl &__logout-btn {
      right: 10px;
      @include ipad {
        right: 50px;
      }
    }
  }
}




