@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
  --black-0: rgb(0, 0, 0);
  --black-52: rgb(52, 52, 52);
  --gray-55: rgb(55, 55, 55);
  --gray-72: rgb(72, 72, 72);
  --gray-217: rgb(217, 217, 217);
  --gray-203: rgb(203, 213, 225);
  --white-248: rgb(248, 250, 252);
  --white-255: rgb(255, 255, 255);
  --skyblue-190: hsl(190, 97%, 47%);
  --darkblue-245: hsl(245, 95%, 22%);
  --blue-208: hsl(208, 97%, 58%);
  --purple-256: hsl(256, 100%, 78%);
  --error: hsl(0, 79%, 63%);
  --success: hsl(125, 79%, 63%);
}

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter" ,"Lato", sans-serif;
  
}
body{
  width:100%;
  height:100%;
  overflow-y: auto;
}
a{
  text-decoration: none;
  color: var(--black-52);
}
button{
  font-weight: bold;
}

// Input field
form {
  margin-top: 25px;
  .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
  }
  .field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid var(--gray-203);
&:focus {
    border-bottom-width: 2px;
  }
}
.button-field {
  margin-top: 30px !important;
  button {
    color: var(--white-255);
    background-color: var(--skyblue-190);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
 .password-check,
.error-input {
    border: 1px solid var(--error) !important
}

 .error {
    color: var(--error);
    font-size: 13px;
    align-items: center;
    display: flex;
    gap: 5px
}
.eye-icon {
  position: absolute;
  top: 58%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--gray-72);
  cursor: pointer;
  padding: 5px;
}

}



.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: hsl(122, 39%, 58%)!important;
}
