.forgotpassword-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.forgotpassword-container .item-left {
    background-color: var(--blue-208);
    height: 100%;
    width: 40%;
    position: relative;

}

.item-left h1 {
    font-size: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}

.item-right {
    width: 60%;
    
}
.item-right__content{
    width:50%;
    margin:auto;

    text-align: left;
}
.item-right input {
    height: 3em;
    margin: 10px auto;
}
.item-right__content .input-field{
   position: relative;
}

.item-right h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--black-52);
}

.item-right p {
    color: var(--black-52);
    text-align: center;
}

.item-right button {

    width: 10rem;
  height:3em;
  font-weight: bold;
    margin: auto;
}


@media (max-width:800px) {
    .item-left {
        display: none;
    }
    .item-right__content{
        width:90%;
        
    }
    .item-right {
       width: 100%;
        
    }

}

