/* CSS color variables */


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-72);
    column-gap: 30px;
}

.form {
    max-width: 430px;
    width: 80%;
    padding: 30px;
    border-radius: 6px;
    background: var(--white-255);
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.form.login {
    padding: 1em 1em;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    color: var(--black-0);
    text-align: center;
}

form {
    margin-top: 25px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid var(--gray-203);
}

.field input:focus {
    border-bottom-width: 2px;
}

.button-field {
    margin-top: 30px !important;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--gray-72);
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: var(--white-255);
    background-color: var(--skyblue-190);
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: var(--black-52);
}

.form a {
    color: var(--blue-208);
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: var(--gray-203);
}

.line::before {
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-255);
    color: var(--gray-72);
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: var(--white-255);
    background-color: var(--blue-208);
}

a.facebook .facebook-icon {
    height: 30px;
    width: 30px;
    color: var(--skyblue-190);
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-255);
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid var(--gray-203);
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: var(--gray-72);
}

.field .password-check,
.error-input {
    border: 1px solid var(--error) !important
}

.field .error {
    color: var(--error);
    font-size: 13px;
    align-items: center;
    display: flex;
    gap: 5px
}



@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}