.forms-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-72);
    column-gap: 30px;

    .form-content {
        max-width: 430px;
        width: 80%;
        padding: 30px;
        border-radius: 6px;
        background: var(--white-255);

        h1 {
            font-size: 28px;
            color: var(--black-52);
            text-align: center;
        }

        a:hover {
            text-decoration: underline;
        }

        .name-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px
        }

        .line {
            position: relative;
            height: 1px;
            width: 100%;
            margin: 36px 0;
            background-color: var(--gray-203);

            &::before {
                content: "Or";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--white-255);
                color: var(--gray-72);
                padding: 0 15px;
            }
        }
          #buttonDiv{
            display: flex;
    justify-content: center;
    margin: 26px 0em;
           
          }

        .link {
            color: var(--skyblue-190);
            font-size: 14px;
        }

        .form-link {
            text-align: center;
            margin-top: 10px;

            span,
            a {
                font-size: 14px;
                font-weight: 400;
                color: var(--black-52);
            }

            a {
                color: var(--skyblue-190);
            }

        }


    }
}


@media screen and (max-width: 400px) {
    .forms-container {
        .form-content {
            width: 90%;
            padding: 15px
        }

    }

}