@import "../../../styles/mixins.scss";

.viewcourse {
  height: 100%;
  position: relative;
  &__spinner {
    @include flex(center, center);
    height: 100vh;
  }
  &__error {
    @include flex(center, center);
    height: 100vh;
  }
  &-container {
    position: relative;
    &__header {
      top: 0;
      position: fixed;
      font-weight: 900;
      z-index: 3;
      width: 100%;
      background-color: var(--black);
     
      height: 80px;
      @include flex(space-between, center);
      width: 100%;
      color: var(--white);
      @include ipad {

      }
      &__heading {
        @include flex(space-between, center);
        gap: 20px;
        &-title {
          font-size: 17px;
          font-weight: 600;
          @include ipad {
            font-size: 20px;
          }
        }
        .icon-button {
          font-size: 25px;
          color: white;
          svg {
            vertical-align: middle;
          }
        }
      }
      &__right {
        display: none;
        gap: 15px;
        @include ipad {
          @include flex(space-between, center);
        }
      }
      &__ipad-right {
        z-index: 5 !important;
        border-radius: 20px;
        position: absolute;
        top: 50px;
        width: 200px;
        padding: 1em;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .d-none {
        display: none;
      }
      &__btn {
        @include button(auto, transparent, var(--white));
        height: 40px;
        border: 1px solid gray !important;
        padding: 0.8em;
        color: var(--white);
      }
      &__languagetoggle {
        color: var(--white);
      }
      &-doticon {
        color: var(--white);
        font-size: 25px;
        svg {
          vertical-align: middle;
        }
      }
    }
    &__content {
      width: 100%;
      padding-top: 80px;
      height: 600px;
      @include flex(space-between, start);
      &_left {
        height: 100%;
      }
      .open-leftcontent {
        width: 0%;
        @include ipad {
          width: 70%;
        }
        @include laptop {
          width: 100%;
        }
      }
      .closed-leftcontent {
        width: 100%;
      }
      &-iframe {
        border: none;
      }
      .quiz-section {
        overflow-y: auto;
        width: 90%;
        height:100%;
        margin: auto;
        @include ipad {
          width: 80%;
        }
        &__heading {
          text-align: center;
          &-title {
            font-weight: 500;
            font-size: 20px;
            padding: 20px 0;
          }
          &-subtitle {
            text-align: left;
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 2em;
          }
        }
        &__content {
          margin-bottom: 3em;
          &-question {
            margin-bottom: 1em;
            font-weight: 500;
            font-size: 16px;
            @include ipad {
              font-size: 18px;
            }
            p {
              font-size: 18px;
              font-weight: 600;
              padding-bottom: 20px;
            }
          }
          &-options {
            &__label {
              cursor: pointer;
              z-index: 80;
              @include flex(start, center);
              width: 100%;
              color: var(--black);
              border: none;
              padding: 1em;
              margin: 0.5em 0em;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 500;
              gap: 5px;
              @include ipad {
                font-size: 16px;
              }
            }
            &__radio-btn {
              visibility: hidden;
              position: absolute;
            }

            &__letter {
              display: inline-block;
              margin-right: 0.5em;
            }
          }
        }
        &__submit-btn {
          height: 50px;
          @include button(100px, var(--green), var(--white));
        }
      }

      // Course Content
      &-course {
        overflow-y: scroll;
        background-color: var(--white);
        border-left: 1px solid var(--green-light);
        width: 100% !important;

        @include ipad {
          width: 30% !important;
        }
        @include laptop {
        }
        &-display {
          position: fixed;
          background-color: var(--white);
          border-bottom: 1px solid var(--green-light);
          width: 100%;
          @include flex(space-between, center);
          height: 50px;
          padding: 2em 1em;
          @include ipad {
            width: 30% !important;
          }
          @include laptop {
            width: 23% !important;
          }
          &-text {
            font-size: 17px;
            font-weight: 600;
          }
          &-btn {
            svg {
              font-size: 18px;
              cursor: pointer;
              &:hover {
                color: var(--gray);
              }
            }
          }
        }
        &-container {
          padding-top: 4em;
        }
        &-section {
          z-index: 2;
          &__heading {
            padding: 1em;
            font-weight: 600;
            font-size: 15px;
            @include flex(start, start);
            gap: 2px;
            border-bottom: 1px solid var(--green-light);
          }
          .active-item {
            background-color: var(--green) !important;
            color: var(--white);
          }
          &__listitem {
            display: block;
            width: 100%;
            text-align: left;
            font-size: 13px;
            border: none;
            border-radius: initial !important;
            padding: 1em;
            border-bottom: 1px solid var(--green-light);

            &-title {
              @include flex(space-between, center);
              gap: 8px;
            }
            &-text {
              font-weight: 500;
              svg {
                margin-right: 0.5em;
              }
            }
            &-duration {
              padding-top: 5px;
              gap: 5px;
              font-size: 12px;
              @include flex(start, center);
              svg {
                font-size: 14px;
              }
            }
            &__status {
              font-size: 12px;
              font-style: italic;
              color: var(--gray);
            }
            &__score {
              font-size: 11px;
              font-weight: 600;
              gap: 5px;
              @include flex(space-between, center);
            }
          }
        }
      }
    }
    &__tab-container {
      padding: 1em;
      width: 100% !important;
      @include ipad {
        padding: 4em 2em 3em 2em;
      }
      &-tab {
        border-bottom: 1px solid var(--gray-203);
        @include flex(start, center);
        gap: 60px;
        &__tabitem {
          cursor: pointer;
          font-size: 16px;
          padding-bottom: 0.5em;
          font-weight: 600;
          &:hover {
            color: var(--green);
          }
        }
        &__active-tab {
          color: var(--green);
          border-bottom: 2px solid var(--green);
        }
      }
      &__tab-content {
        margin-top: 2em;
        line-height: 30px;

        &-text {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.certificate {
  @include flex(center, center);
  text-align: center;
  width: 100%;
  height: 100%;
  &__img {
    width: 700px;
    border: 1px solid rgb(214, 213, 213);
  }
}

// Pdf View
.viewpdf {
  width: 100%;
  height: 550px;
  overflow-y: auto;
  margin: auto;
  &__pagenumber {
    z-index: -1;
    text-align: center;
    margin: 1em;
    font-size: 18px;
    font-weight: 600;
  }
  &__document {
    position: relative;
    z-index: -2;
    padding: 0em 2em;
  }
  .react-pdf__Page__textContent {
    display: none;
  }
}

html[dir="rtl"] {
  .viewcourse-container__header {
    padding: 1em;
    @include ipad {
      padding: 1rem 1rem 1rem 6rem;
    }
    &__ipad-right {
      left: 20px !important;
    }
  }
}
html[dir="ltr"] {
  .viewcourse-container__header {
    padding: 1em;
    @include ipad {
      padding: 1em 1.5em;
    }
    &__ipad-right {
      right: 20px !important;
    }
  }
}
