@import "../../../styles/mixins.scss";

.viewcourse {
  height: 100%;
  position: relative;
  &__spinner {
    @include flex(center, center);
    height: 100vh;
  }
  &__error {
    @include flex(center, center);
    height: 100vh;
  }

  &-container {
    position: relative;
    &__header {
      top: 0;
      position: fixed;
      z-index: 3;
      width: 100%;
      background-color: var(--black);
      padding: 0em 1em;
      height: 80px;
      @include flex(space-between, center);
      width: 100%;
      color: var(--white);
      @include ipad {
        padding: 0em 1.5em;
      }
      &__heading {
        font-size: 17px;
        font-weight: 700;
        @include flex(space-between, center);
        gap: 20px;
        @include ipad {
          font-size: 20px;
        }
        .icon-button {
          font-size: 25px;
          color: white;
          svg {
            vertical-align: middle;
          }
        }
      }
      &__right {
        display: none;
        gap: 15px;
        @include ipad {
          @include flex(space-between, center);
        }
      }
      &__ipad-right {
        z-index: 5;
        border-radius: 20px;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 200px;
        padding: 1em;
        background-color: var(--black);
        @include flex(space-between, center);
        flex-direction: column;
        gap: 10px;
      }
      .d-none {
        display: none;
      }
      &__btn {
        @include button(auto, transparent, var(--white));
        border: 1px solid gray !important;
        padding: 0.8em;
        color: var(--white);
      }
      &-doticon {
        color: var(--white);
        font-size: 25px;
        svg {
          vertical-align: middle;
        }
      }
    }

    &__content {
      width: 100%;
      padding-top: 80px;
      z-index: -1;
      height: 600px;
      @include flex(space-between, start);
      &_left {
        height: 100%;
      }
      .open-leftcontent {
        width: 0%;

        @include ipad {
          width: 70%;
        }
        @include laptop {
          width: 100%;
        }
      }
      .closed-leftcontent {
        width: 100%;
      }
      // Iframe
      &-iframe {
        border: none;
      }

      // Quiz component
      .quiz-section {
        padding: 1em 0em;
        margin: 0em auto;
        overflow-y: auto;
        &__heading {
          text-align: center;
          margin-bottom: 2em;
          @include ipad {
            margin-bottom: 4em;
          }
          &-title {
            font-size: 20px;
            padding-bottom: 5px;
            @include ipad {
              font-size: 25px;
            }
          }
          &-subtitle {
            font-size: 18px;
            font-weight: 500;
          }
        }
        &__container {
          padding: 0em 1em;
          @include ipad {
            padding: 0em 2em;
          }
        }
        &__content {
          z-index: -1;
          margin-bottom: 3em;

          &-question {
            margin-bottom: 1em;
            font-weight: 600;
            font-size: 16px;
            @include ipad {
              font-size: 18px;
            }
            p {
              font-size: 16px;
              font-weight: 700;
              padding-bottom: 10px;
              @include ipad {
                font-size: 20px;
              }
            }
          }
          &-options {
            &__label {
              cursor: pointer;
              z-index: 80;
              @include flex(start, center);
              background-color: rgb(231, 238, 241);
              width: 100%;
              color: var(--black);
              border: none;
              padding: 1em;
              margin: 0.5em 0em;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 500;
              gap: 5px;

              &:hover {
                background-color: var(--green);
                color: var(--white);
              }
              @include ipad {
                width: 65%;
                font-size: 16px;
              }
            }
            &__radio-btn {
              visibility: hidden;
              position: absolute;
            }

            &__letter {
              display: inline-block;
              margin-right: 0.5em;
            }
          }
        }
        &__submit-btn {
          margin: auto;
          @include button(auto, var(--green), var(--white));
        }
      }

      // Pdf View
      .viewpdf {
        width: 100%;
        height: 550px;
        overflow-y: scroll;
        margin: auto;
        &__pagenumber {
          z-index: -1;
          text-align: center;
          margin: 1em;
          font-size: 18px;
          font-weight: 600;
        }
        &__document {
          position: relative;
          z-index: -2;
          padding: 0em 2em;
        }
      }
      // Result
      .quizresult {
        margin: 1em auto;
        text-align: center;
        &__heading {
          &__title {
            font-size: 22px;
            font-weight: 700;
            padding-bottom: 0.5em;
          }
          &__subtitle {
            font-size: 16px;
            font-weight: 500;
            color: var(--gray);
          }
        }
        &__btns {
          @include flex(center, center);
          &__completed {
            color: var(--green);
            @include flex(center, center);
            gap: 40px;
            &-text {
              font-size: 20px;
              font-weight: 600;
            }
          }
          &__button {
            @include button(auto, var(--green), var(--white));
          }
        }
      }

      .certificate {
        @include flex(center, center);
        text-align: center;
        width: 100%;
        height: 70vh;
        &__content {
          &__text {
            width: fit-content;
            font-size: 20px;
            font-weight: 500;
            background-color: var(--gray-203);
            opacity: 50%;
            padding: 1em;
            color: var(--gray);
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              background-color: var(--gray-203);
              opacity: 30%;
            }
          }
        }
      }

      // Course Content
      &-course {
        height: 550px;
        overflow-y: scroll;
        background-color: var(--white);
        border-left: 1px solid var(--green-light);
        width: 100% !important;

        @include ipad {
          width: 30% !important;
        }
        @include laptop {
        }
        &-display {
          position: fixed;
          background-color: var(--white);
          border-bottom: 1px solid var(--green-light);
          width: 100%;
          @include flex(space-between, center);
          height: 50px;
          padding: 2em 1em;
          @include ipad {
            width: 30% !important;
          }
          @include laptop {
            width: 23% !important;
          }
          &-text {
            font-size: 17px;
            font-weight: 700;
          }
          &-btn {
            svg {
              font-size: 18px;
              cursor: pointer;
              &:hover {
                color: var(--gray);
              }
            }
          }
        }
        &-container {
          padding-top: 3em;
        }
        &-section {
          z-index: 2;
          &__heading {
            padding: 1.5em 1em 0.5em;
            font-weight: 600;
            font-size: 15px;
            border-bottom: 1px solid var(--green-light);
          }
          .active-item {
            background-color: var(--green) !important;
            color: var(--white);
          }
          &__listitem {
            display: block;
            width: 100%;
            text-align: left;
            font-size: 13px;
            border: none;
            border-radius: initial !important;
            padding: 1em;
            border-bottom: 1px solid var(--green-light);
            &:hover {
              background-color: var(--green-light);
            }
            &-title {
              @include flex(space-between, center);
              gap: 8px;
            }
            &-text {
              font-weight: 500;
              // @include flex(center, center);
              svg {
                margin-right: 0.5em;
                // font-size: 25px;
              }
            }
            &-duration {
              padding-top: 5px;
              gap: 5px;
              font-size: 12px;
              color: var(--gray);
              @include flex(start, center);
              svg {
                font-size: 14px;
              }
            }
            &__status {
              font-size: 12px;
              font-style: italic;
              color: var(--gray);
              .completed {
                color: var(--green);
                font-weight: 600;
              }
              .not-completed {
                color: var(--gray);
              }
            }
          }
        }
      }
    }
    &__tab-container {
      padding: 3em 4em;
      &-tab {
        border-bottom: 1px solid var(--gray-203);
        @include flex(start, center);
        gap: 60px;
        &__tabitem {
          cursor: pointer;
          font-size: 18px;
          padding-bottom: 0.5em;
          color: var(--gray);
          font-weight: 600;
          &:hover {
            color: var(--green);
          }
        }
        &__active-tab {
          color: var(--green);
          border-bottom: 2px solid var(--green);
        }
      }
      &__tab-content {
        margin-top: 2em;
        line-height: 30px;

        &-text {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 1em;
        }
      }
    }
  }
}
