@import "../../styles/mixins.scss";

// mobile first

.hero--container {
  width: 90%;
  margin: 1em auto;
  @include ipad {
    @include flex(space-between, center);
  }
  @include xl-screen {
    width: 60%;
  }
  .left {
    @include ipad {
      flex-basis: 100%;
    }
    @include laptop {
      flex-basis: 50%;
    }
    h1 {
      font-size: 25px;
      font-weight: 700;
      @include ipad {
        font-size: 63px;
        line-height: 72px;
      }
    }
    p {
      font-size: 18px;
      margin: 1em 0em;
      font-weight: 500;
      color: var(--gray);
      line-height: 30px;
    }
    .btns {
      @include flex(start, center);
      gap: 1.5em;
      button {
        @include button(
          150px,
          var(--green),
          var(--white),
          var(--white),
          var(--green),
          var(--green)
        );
      }
      .all-plans-link {
        padding-bottom: 5px;
        border-bottom: 2px solid var(--black);
        font-weight: 700;
      }
    }
  }
  .right {
    img {
      width: 100%;
      @include ipad {
        height: 500px;
      }
    }
  }
}

// section Courses section ------
.courses-section {
  width: 90%;
  margin: 4em auto;
  h1 {
    font-size: 25px;
    text-align: center;
    @include ipad {
      font-size: 30px;
    }
  }
  .course-container {
    @include ipad {
      @include flex(center, center);
      gap: 60px;
      margin-top: 3rem;
    }
    margin-top: 2rem;
    .course {
      position: relative;
      cursor: pointer;
      height: 420px;
      @include ipad {
        width: 400px;
        padding: 2.5em;
      }
      @include xl-screen {
        width: 32%;
        height: 450px;
      }
      padding: 2em;
      margin: 1rem 0rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 20px;
      .icon-content {
        padding: 1.5rem 1rem;
        text-align: center;
        // background-color: var(--light-gray);
        background-color: var(--gray-100);
        border-radius: 20px;
        margin-bottom: 1rem;
        .icon {
          width: 60px;
        }
      }
      .name {
        font-size: 17px;
        text-align: left;
        @include xl-screen {
          font-size: 20px;
        }
      }
      .description {
        margin: 1rem 0;
        font-weight: 500;
        color: var(--gray);
        line-height: 25px;
        @include xl-screen {
          margin: 1.5rem 0;
        }
      }
      .btn {
        position: absolute;
        bottom: 25px;
        left: 30px;
        @include button(
          150px,
          var(--green),
          var(--white),
          var(--white),
          var(--green),
          var(--green)
        );
        border-radius: 50px;
        @include ipad {
          bottom: 20px;
        }
      }
      &:hover {
        background-color: hsl(172deg 100% 30% / 11%);
        .icon-content {
          background-color: var(--white);
        }
      }
    }
  }
  .course-list {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2em;
    @include meduim-screen {
      justify-content: space-around;
    }
    @include ipad {
      margin: 4rem auto;
    }
    @include laptop {
      width: 70%;
    }
    div {
      cursor: pointer;
      text-align: center;
      .course-icon {
        width: 100px;
        height: 100px;
        object-fit: contain;
        @include ipad {
          width: 150px;
        }
      }
      .course-name {
        font-size: 15px;
        color: var(--gray);
        opacity: 60%;
        font-weight: 700;
      }
      .react-tooltip {
        width: 90px;
        font-weight: 600;
        font-size: 11px;
        padding: 7px 3px;
       
       
      }
      &:hover {
        .course-icon {
          color: var(--black);
          opacity: 100%;
        }
      }
    }
  }
  .more-courses {
    @include flex(center, center);
    position: relative;
    font-weight: 700;
    width: 250px;
    margin: auto;
    padding: 1rem;
    border: 1px solid var(--green);
    text-align: center;
    border-radius: 20px;
    background-color: var(--green);
    color: var(--white);
    .arrow {
      font-size: 18px;
      position: absolute;
      top: 35%;
      left: 80%;
    }
    &:hover {
      background-color: var(--white);
      color: var(--green);
      // Add arrow animation instead
    }
  }
}

// Open science practice section
.open-science-section {
  background-color: var(--gray-100);
  // background-color: var(--light-gray);
  .__container {
    padding: 3em 2em;
    @include ipad {
      margin: auto;
      width: 90%;
      padding: 5em 0em;
    }
    @include xl-screen {
      width: 50%;
    }
    h1 {
      font-size: 30px;
      text-align: center;
    }
    .__content {
      // margin: 3rem 0em;
      .practices {
        @include ipad {
          @include flex(center, center);
          // gap: 40px;
        }
        img {
          height: 300px;
        }
        .description {
          flex-basis: 60%;
          @include flex(space-between, start);
          flex-direction: column;
          .__name {
            font-size: 22px;
            font-weight: 700;
            // margin-top: 1rem;
          }
          .__content {
            font-size: 18px;
            font-weight: 500;
            color: var(--gray);
            margin: 1rem 0;
            line-height: 30px;
          }
        }
      }
    }
  }
}

// collaboration-section
.collaboration-section {
  // background-color: var(--gray-100);
  .__container {
    padding: 2em 0em;
    text-align: center;
    margin: auto;
    @include ipad {
      width: 60%;
      padding: 6em 0em;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      @include ipad {
        font-size: 28px;
        font-weight: 700;
      }
    }
    .icon__content {
      margin-top: 4em;
      @include flex(center, center);
      gap: 30px;
      flex-wrap: wrap;
      .icon {
        width: 40%;
        display: inline-block;
        @include ipad {
          width: 25%;
          display: inline-block;
        }
      }
    }
  }
}

// Participants
.participants {
  height: 400px;
  position: relative;
  background-color: var(--green);
  .join-class {
    background-image: url("../../images/radial.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 10%;
  }
  .text-content {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include ipad {
      width: 60%;
    }
    h1 {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      color: var(--white);
      @include meduim-screen {
        font-size: 30px;
      }
    }
    button {
      @include button(
        200px,
        var(--white),
        var(--black),
        var(--black),
        var(--white),
        var(--green)
      );
      border: none;
      margin-top: 2rem;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
