@import "../../styles/mixins.scss";

// mobile first
.hero-container {
  width: 90%;
  margin: 5em auto;
  @include ipad {
    @include flex(space-between, center);
  }
  @include xl-screen {
    width: 60%;
  }
  &__left {
    &-heading {
      font-size: 25px;
      font-weight: 700;
      @include ipad {
        width: 13ch;
        font-size: 63px;
        line-height: 72px;
      }
    }
    &-text {
      font-size: 18px;
      margin: 1em 0em;
      font-weight: 500;
      color: var(--gray);
      line-height: 30px;
      @include ipad {
        width: 45ch;
      }
    }
    &-signup {
      @include flex(start, center);
      gap: 1.5em;
      &__link {
        @include button(auto, var(--green), var(--white));
      }
    }
  }
  &__right {
    &-img {
      display: none;
      @include ipad {
        display: block;
        height: 320px;
      }
      @include laptop {
        display: block;
        height: 400px;
      }
    }
  }
}

// section Courses section ------
.courses-section {
  width: 90%;
  margin: 6em auto 3em auto;
  @include ipad {
    margin: 6em auto 7em auto;
  }
  &__heading {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    @include ipad {
      font-size: 30px;
    }
  }
  &__container {
    margin-top: 2rem;
    @include ipad {
      @include flex(center, center);
      gap: 60px;
      margin-top: 3rem;
    }

    &-course {
      position: relative;
      cursor: pointer;
      height: 420px;
      padding: 2em;
      margin: 1rem 0rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 20px;
      &:hover {
        background-color: var(--green-light);
        &__icon-content {
          background-color: var(--white);
        }
      }
      @include ipad {
        width: 400px;
        padding: 2.5em;
      }
      @include xl-screen {
        // width: 400px;
        height: 450px;
      }
      &__icon-content {
        padding: 1.5rem 1rem;
        text-align: center;
        background-color: var(--gray-100);
        border-radius: 20px;
        margin-bottom: 1rem;
        &-icon {
          width: 60px;
        }
      }
      &__name {
        font-size: 17px;
        text-align: left;
        @include xl-screen {
          font-size: 20px;
        }
      }
      &__description {
        margin: 1rem 0;
        font-weight: 500;
        color: var(--gray);
        line-height: 25px;
        @include xl-screen {
          margin: 1.5rem 0;
        }
      }
      &__link {
        position: absolute;
        bottom: 25px;
        left: 30px;
        @include button(auto, var(--green), var(--white));
        border-radius: 50px;
        @include ipad {
          bottom: 20px;
        }
      }
    }
  }
  &__courses {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2em;
    @include meduim-screen {
      justify-content: space-around;
    }
    @include ipad {
      margin: 4rem auto;
    }
    @include laptop {
      width: 60%;
    }
    @include xl-screen {
      width: 40%;
    }
    &-list {
      cursor: pointer;
      text-align: center;
      &__icon-img {
        width: 80px;
        height: 100px;
        object-fit: contain;
        @include ipad {
          width: 120px;
        }
      }
      .react-tooltip {
        width: 90px;
        font-weight: 600;
        font-size: 11px;
        padding: 7px 3px;
      }
    }
  }
  &__link {
    @include flex(center, center);
    position: relative;
    font-weight: 700;
    width: 250px;
    margin: 2em auto;
    padding: 1rem;
    border: 1px solid var(--green);
    text-align: center;
    border-radius: 20px;
    background-color: var(--green);
    color: var(--white);
    @include ipad {
      margin: auto;
    }
    &-arrow {
      font-size: 18px;
      position: absolute;
      top: 35%;
      left: 80%;
    }
    &:hover {
      background-color: var(--white);
      color: var(--green);
    }
  }
}

// Open science practice section
.open-science {
  background-color: var(--gray-100);
  &__article {
    padding: 4em 2em;
    @include ipad {
      margin: auto;
      width: 90%;
      padding: 5em 0em;
    }
    @include xl-screen {
      width: 50%;
    }
    &-heading {
      font-size: 25px;
      text-align: center;
      font-weight: 700;
      @include ipad {
        font-size: 30px;
      }
    }
    &-content {
      &__list {
        margin: 5rem 0em 3rem 0em;
        @include ipad {
          @include flex(center, center);
          gap: 60px;
        }
        &-img {
          height: 150px;
          width: 100%;
          @include ipad {
            width: 200px;
            height: 200px;
          }
        }
        &-item {
          flex-basis: 60%;
          @include flex(space-between, center);
          text-align: center;
          flex-direction: column;
          margin-top: 1em;
          @include ipad {
            @include flex(space-between, start);
            text-align: left;
            margin-top: 0em;
          }
          &-name {
            font-size: 18px;

            font-weight: 700;
            @include ipad {
              font-size: 22px;
            }
          }
          &-description {
            font-size: 18px;
            font-weight: 500;
            color: var(--gray);
            line-height: 30px;
            @include ipad {
              @include ipad {
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }
}

// collaboration-section
.collaboration-section {
  &__container {
    padding: 2em 0em;
    text-align: center;
    margin: auto;
    @include ipad {
      width: 60%;
      padding: 6em 0em;
    }
    &-heading {
      font-size: 24px;
      font-weight: 700;
      @include ipad {
        font-size: 28px;
      }
    }
    &-icon {
      margin-top: 4em;
      @include flex(center, center);
      gap: 34px;
      flex-wrap: wrap;
      &-img {
        width: 130px;
        display: inline-block;
        @include ipad {
          width: 180px;
          display: inline-block;
        }
      }
    }
  }
}

// Participants
.participants {
  height: 400px;
  position: relative;
  background-color: var(--green);
  &__background-image {
    background-image: url("../../images/radial.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 10%;
  }
  &__content {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include ipad {
      width: 60%;
    }
    &-heading {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      color: var(--white);
      @include meduim-screen {
        font-size: 30px;
      }
    }
    &-link {
      @include button(200px, var(--black), var(--white));
      margin: auto;
      border: none;
      margin-top: 2rem;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: var(--white);
        color: var(--green);
        opacity: 100%;
      }
    }
  }
}
