.header {
	background-color: #343434;
	color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	box-shadow: 0px 2px 10px 2px #091e22;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.logo {
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
}

.navbar-mobile.open {
	background-color: #343434;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: 100vh;
	top: 68px;
	position: fixed;
	width: 70%;
	transition: all 0.5s ease;
	padding: 3rem;
}

.navbar-mobile {
	right: -100%;
}

.nav-links.mobile,
.category-btn.mobile {
	display: flex;
}

.auth-btns-wrapper {
	position: relative;
	flex-direction: column;
	display: flex;
	gap: 20px;
	bottom: -40%;
}

.auth-btns.mobile {
	display: flex;
	font-size: 1.5rem;
	padding: 1rem;
	width: 100%;
}

.category-btn {
	display: none;
	color: #fff;
	align-items: center;
	gap: 5px;
	font-weight: 500;
	font-size: 1.5rem;
	background-color: transparent;
	text-transform: capitalize;
	border: none;
	outline: none;
}

.search {
	background-color: #d5d2d275;
	border-radius: 20px;
	width: 434px;
	color: #fff;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0.8rem 0.3rem;
}

.search-input {
	display: none;
	background-color: transparent;
	color: #fff;
	width: 85%;
	border: none;
	outline: none;
	font-size: 1.25rem;
}

.search-input::placeholder {
	color: #fff;
}

.nav-links {
	display: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.25s ease-out;
	padding: 0.3rem;
	position: relative;
}

.nav-links:hover {
	color: #03c4eb;
}

.nav-links::after {
	display: none;
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #03c4eb;
	transform-origin: bottom right;
	transition: all 0.25s ease-out;
}

.nav-links:hover::after {
	color: #03c4eb;
	transform-origin: bottom left;
	transform: scaleX(1);
}

.auth-btns {
	display: none;
	background-color: #03c4eb;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 3px;
	border: 1px solid #03c4eb;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	transition: all 0.25s ease-in-out;
	box-shadow: 0px 3px 6px 2px #222;
}

.auth-btns:hover {
	color: #03c4eb;
	background-color: transparent;
	box-shadow: 0px 2px 4px 0px #03c4eb;
}

.mobile-nav-icon {
	border: none;
	outline: none;
	background-color: transparent;
	color: #03c4eb;
	font-size: 2rem;
	margin: 0 1rem;
}

.icon-btn {
	display: none;
	color: #03c4eb;
	background-color: transparent;
	transition: color 0.25s ease-in-out;
	font-size: 1.5rem;
	border: none;
	outline: none;
}
.icon-btn:hover {
	color: #fff;
}

@media screen and (min-width: 48em) {
	.navbar-mobile.open {
		width: 50%;
	}
}

@media screen and (min-width: 1025px) {
	.navbar {
		justify-content: space-around;
	}

	.navbar-mobile,
	.navbar-mobile.open {
		display: none;
	}

	.category-btn {
		display: flex;
		font-size: 1.25rem;
	}

	.search {
		display: flex;
	}

	.search-input {
		display: flex;
	}

	.nav-links {
		display: flex;
		font-size: 1.25rem;
	}

	.nav-links::after {
		display: flex;
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #03c4eb;
		transform-origin: bottom right;
		transition: all 0.25s ease-out;
	}

	.auth-btns {
		display: flex;
	}

	.icon-btn {
		display: flex;
	}

	.mobile-nav-icon {
		display: none;
	}
}
