@import "../../styles/mixins.scss";

// Footer
.footer {
  .__container {
    @include ipad {
      @include flex(space-between, center);
      gap: 80px;
      margin: 3em auto;
    }
    @include laptop {
      width: 90%;
      
    }

    @include xl-screen {
      width: 70%;

    }
    padding: 1.5em;
  
    .__logo {
      text-align: center;
      img {
        width: 200px;
      }
    }
    .right {
      flex-basis: 90%;
      @include flex(space-around, start);
      text-align: center;
      flex-wrap: wrap;
      gap: 25px;
      @include ipad {
        @include flex(space-between, start);
        text-align: left;
        gap: 50px;
      }

      .quicklinks,
      .community {
        h3 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0.5rem
        }
        a {
          @include flex(start, center);
          padding:0.8em 0em;
          font-size: 15px;
          font-weight: 500;
          color: var(--gray);
          &:hover {
            color: var(--green);
          }
        }
      }
      .sociallinks,
      .info {
        h3 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0.5rem
        }
        a {
          margin-right: 1rem;
          font-size: 15px;
          font-weight: 500;
          color: var(--gray);
          img {
            margin-top: 0.8rem;
            width: 20px;
            margin-right: 5px;
            &:hover {
              transform: scale(1.5);
            }
          }
          &:hover {
            color: var(--green);
          }
        }
      }
    }
  }
  p {
    text-align: center;
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 2rem;
  }
}
