@import "../../styles/mixins.scss";

.errorfallback {
  padding: 1em;
  @include flex(center, center);
  flex-direction: column;
  height: 40vh;
  width:600px;
  margin:auto;
  color: var(--error);
  background-color: var(--light-gray);
  &__top {
    @include flex(center, center);
    &__message {
      font-size: 25px;
      font-weight: 700;
    }
  }

  &__description {
    font-size: 20px;
    margin: 0.5em 0em;
  }
  &__btn {
 
    @include button(auto, var(--error), var(--white));
    &:hover {
      opacity: 30%;
    }
  }
}
