.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__animate {
    border: 2px solid;
    border-top: 1px solid var(--white);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
