@import "../../../../styles/mixins.scss";

.availablecourses {
  // padding: 7em 2.5em 0em 2.5em;
  // background-color: var(--white);
  max-width: 1400px;
  // text-align: center;
  @include ipad {
    // padding: 8em 2.5em 0em 2.5em;
    // text-align: left;
  }
  &__heading {
    font-weight: 700;
    font-size: 20px;
  }
  &__courses {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2em;
    @include ipad {
      @include flex(start, center);
    }
    &-content {
      border-radius: 10px;
      border: 1px solid var(--gray-203);
      cursor: pointer;
      position: relative;
      &__img-container {
        width: 100%;
        margin: auto;

        // .img-container-overlay {
        //   @include flex(center, center);
        //   position: absolute;
        //   height: 75%;
        //   width: 100%;
        //   left: 0;
        //   top: 0;
        //   background-color: var(--green-light);
        //   opacity: 0%;
        //   border-radius: 20px 20px 0px 0px;

        //   svg {
        //     font-size: 60px;
        //   }
        // }

        &-img {
          // border-radius: 10px;
          width: 100%;
          height: 150px;
          object-fit: cover;
          object-position:top
        }
      }

      &__bottom {
        padding: 1em;
        text-align: left;

        &-text {
          // padding-bottom: 0.5em;
          font-size: 18px;
          font-weight: 600;
        }


        &-coursenumber {
          padding-top: 4px;
          font-size: 13px;
          color: var(--gray);
          font-weight: 500;
        }
      }

      &:hover .img-container-overlay {
        opacity: 70%;
      }
    }
  }
}

.no-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
