@import "../../../../styles/mixins.scss";

.availablecourses {
  margin: 8em auto;
 
  padding: 0.5em;
  background-color: var(--white);
  max-width: 1400px;
  text-align: center;
  @include ipad {
    padding: 0.5em 2.5em ;
    text-align: left;
  }
  &__heading 
  {
    font-weight: 700;
    font-size: 20px;
  }

  &__courses {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2em;
    @include ipad {
      @include flex(start, center);
    }
    &-content {
      border-radius: 20px;
      border: 1px solid var(--gray-203);
      cursor: pointer;
      position: relative;

      &__img-container {
        width: 300px;
        height: 200px;
        position: relative;

        .img-container-overlay {
          @include flex(center, center);
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: var(--gray-203);
          opacity: 0%;
          border-radius: 20px 20px 0px 0px;

          svg {
            font-size: 60px;
          }
        }

        &-img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 20px;
        }
      }

      &__bottom {
        padding: 1em;
        text-align: left;

        &-text {
          padding-bottom: 0.5em;
          font-size: 16px;
          font-weight: 600;
        }

        &-author {
          color: var(--gray);
          font-weight: 500;
          font-size: 14px;
        }

        &-coursenumber {
          padding-top: 4px;
          font-size: 13px;
          color: var(--gray);
          font-weight: 500;
        }
      }

      &:hover .img-container-overlay {
        opacity: 70%;
      }
    }
  }
}
