@import "../../../styles/mixins.scss";

.lesson-container {
  height: 100%;
  z-index: 1;
  &__header {
    background-color: var(--black);
    padding: 1.5em;
    @include flex(space-between, start);
    width: 100%;
    color: var(--white);
    &-heading {
      font-size: 20px;
      font-weight: 700;
      &__btn {
        @include button(auto, transparent, var(--white));
        border: 1px solid gray !important;
        padding: 0.8em;
      }
    }
  }
  &__content {
    z-index: -1;
    @include flex(space-between, start);
    &-iframe {
      border: none;
      width: 80%;
      // border-radius: 20px;
    }
    .quiz-section {
      text-align: center;
      width: 80%;
      padding: 1em 0em;
      h1 {
        font-size: 30px;
      }
    }
    &-course {
      background-color: var(--white);
      border-left: 1px solid var(--green-light);
      width: 23%;
      &-display {
        @include flex(space-between, center);
        padding: 1em 1.5em;
        &-text {
          font-size: 16px;
          font-weight: 600;
        }
        &-btn {
          svg {
            font-size: 18px;
            cursor: pointer;
            &:hover {
              color: var(--gray);
            }
          }
        }
      }
      &-video-btn {
        text-align: left;
        font-size: 14px;
        border: none;
        padding: 1em 1.5em;
        border-top: 1px solid var(--green-light);
        border-bottom: 1px solid var(--green-light);
        &:hover {
          background-color: var(--green-light);
        }
        &__title {
          @include flex(space-between, center);
          gap: 4px;
        }
        &__duration {
          padding-top: 10px;
          gap: 5px;
          @include flex(start, center);
          svg {
            font-size: 20px;
          }
        }
      }
      &-quiz-btn {
        width: 100%;
        font-size: 14px;
        padding: 1em 1.5em;
        border: none;
        border-bottom: 1px solid var(--green-light);
        &:hover {
          background-color: var(--green-light);
        }
        @include flex(space-between, center);
        &__status {
          font-size: 11px;
          font-style: italic;
        }
      }
    }
  }
  &__tab-container {
    padding: 3em 4em;
    &-tab {
      border-bottom: 1px solid var(--gray-203);
      @include flex(start, center);
      gap: 60px;
      &__tabitem {
        cursor: pointer;
        font-size: 18px;
        padding-bottom: 0.5em;
        color: var(--gray);
        font-weight: 600;
        &:hover {
          color: var(--green);
        }
      }
      &__active-tab {
        color: var(--green);
        border-bottom: 2px solid var(--green);
      }
    }
    &__tab-content {
      //   height: 200px;
      margin-top: 2em;
      line-height: 30px;

      &-text {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1em;
      }
      .certificate {
        @include flex(center, center);
        text-align: center;
        &__text {
          margin-top: 3em;
          width: fit-content;
          font-size: 20px;
          font-weight: 500;
          background-color: var(--gray-203);
          opacity: 50%;
          padding: 1em;
          color: var(--gray);
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background-color: var(--gray-203);
            opacity: 30%;
          }
        }
      }
    }
  }
}
