.record-wrapper{
    background-color: white;
    backdrop-filter: blur(2px);
    border:1px solid #03C4EB;
    padding-top: 33px;
    padding-bottom: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.9375rem;
    gap: 0.625rem;
    width: 10.5rem;
    color: #03C4EB;
}

.record{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Lato';
}
.desc{
    font-size: 1.125rem;
    font-weight: 800;
    font-family: 'Lato';
}