:root{
    --black-20: rgb(20, 20, 20);
    --gray-52: rgb(52, 52, 52);
    --gray-72: rgb(72, 72, 72);
    --gray-203: rgb(203, 213, 225);
    --white-248: rgb(248,250,252);
    --white-255: rgb(255, 255, 255);
    --skyblue-190: hsl(190, 97%, 47%);
    --darkblue-245: hsl(245, 95%, 22%);
    --blue-208: hsl(208, 97%, 58%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
