/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --black-0: rgb(0, 0, 0);
    --black-52: rgb(52, 52, 52);
    --gray-55: rgb(55, 55, 55);
    --gray-72: rgb(72, 72, 72);
    --gray-217: rgb(217, 217, 217);
    --gray-203: rgb(203, 213, 225);
    --white-248: rgb(248,250,252);
    --white-255: rgb(255, 255, 255);
    --skyblue-190: hsl(190, 97%, 47%);
    --darkblue-245: hsl(245, 95%, 22%);
    --blue-208: hsl(208, 97%, 58%);
    --purple-256: hsl(256, 100%, 78%);

}
body,html,* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Poppins', sans-serif; */
	font-family: "Lato", sans-serif;
   
}

