@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


:root{
  font-size: 16px;

}

@media (max-width:1024px) {
  :root{
    font-size: 14px;
  }
}


@media (max-width:650px) {
  :root{
    font-size: 12px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Lato', 'Roboto' sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background:rgb(252, 245, 245);
}
