.forgotpassword-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .content-left {
    background-color: var(--green);
    height: 100%;
    width: 40%;
    position: relative;
   .home-link {
      font-size: 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
    }
    .ring2 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .ring1 {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .content-right {
    width: 60%;
    height:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
}

@media (max-width: 800px) {
  .forgotpassword-container {
    .content-left {
      display: none;
    }

    .content-right {
      width: 100%;
    }
  }
}
