// flex
@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// button
@mixin button($width, $bg-color, $color, $hover-bg, $hover-color) {
  background-color: $bg-color;
  color: $color;
  font-weight: 700;
  border: none;
  padding: 1.2em;
  width: $width;
  border: 1px solid var(--blue);
  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
  }
}

// responsiveness
@mixin small-screen {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin meduim-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin xl-screen {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}
