// flex
@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// button
@mixin button($width, $bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  font-weight: 700;
  font-size: 15px;
  border-radius: 8px;
  width: $width;
  border: none;
  padding: 16px 30px;

  @include flex(center, center);
  &:hover {
    opacity: 60%;
  }
}

// responsiveness
@mixin small-screen {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin meduim-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin xl-screen {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}
