# Environment variable example, do not push your .env file

# Database
MONGO_URI_DEV: "mongodb+srv://<username>:<password>@<host>/<database_name>?retryWrites=true&w=majority"
# Replace '<username>' and '<password>' with your MongoDB Atlas username and password
# Replace '<host>' with your MongoDB Atlas hostname or IP address
# Replace '<database_name>' with the name of your MongoDB database

# for docker-compose -  mongodb://<container_name>:27017/mooc_db

# Server Port
PORT: 7000

# JSON Web Tokens
JWT_SECRET: "<jwt_secret_key>"
JWT_COOKIE_EXPIRES: 1
JWT_ACCESS_SECRET: "<jwt_access_secret>"
JWT_ACCESS_EXP: 1h
JWT_REFRESH_SECRET: "<jwt_refresh_secret>"
JWT_REFRESH_EXP: 1d
JWT_PASSWORDRESET_SECRET: "<jwt_passwordreset_secret>"
JWT_PASSWORDRESET_EXP: 10m
JWT_EMAILVERIFICATION_SECRET: "<jwt_emailverification_secret>"
JWT_EMAILVERIFICATION_EXP: 10m
JWT_TWOFACTOR_SECRET: "<jwt_twofactor_secret>"
JWT_TWOFACTOR_EXP: 5m

# Email
EMAIL_USER: "<email_username>"
EMAIL_PASS: "<email_password>"
EMAIL_HOST: "smtp.gmail.com"
EMAIL_PORT: 465
EMAIL_HOST_ADDRESS: "example@gmail.com"
HOST_ADMIN_EMAIL1: "example@gmail.com"


# Google OAuth
OAUTH_CLIENT_ID: "<oauth_client_id>"
OAUTH_CLIENT_SECRET: "<oauth_client_secret>"
OAUTH_REFRESH_TOKEN: "<oauth_refresh_token>"
OAUTH_ACCESS_TOKEN: "<oauth_access_token>"


# URL
CLIENT_APP_URL: "http://localhost:5173"

# Cloudinary API
CLOUDINARY_CLOUD_NAME: "<cloudinary_cloud_name>"
CLOUDINARY_API_KEY: "<cloudinary_api_key>"
CLOUDINARY_API_SECRET: "<cloudinary_api_secret>"
